---
layout: page
header: false
title: Link in Bio
permalink: /link-in-bio
comments: false
---

<div class="container my-5">
	{% for post in site.posts %}
		{% if post.ignore != true %}
		<div class="row my-3">
			<button class="btn btn-dark btn-block" onclick="window.location.href='{{ post.url }}'">
				{{ post.category }} #{{ post.post }}: {{ post.title }}
			</button>
		</div>
		{% endif %}
	{% endfor %}
	<div class="row my-3">
		<button class="btn btn-dark btn-block" onclick="window.location.href='https://drive.google.com/file/d/1_xpEf_20mV47oAoORDFaDr5xSb_pSTd3/view'">
			Academic Rulebook
		</button>
	</div>
</div>