<div class="share">
    <p>
        Share
    </p>
    <ul>
        <!-- WhatsApp -->
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://api.whatsapp.com/send?text={{ page.title }} {{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-whatsapp"></i>
            </a>
        </li>

        <!-- Telegram -->
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://telegram.me/share/url?url={{ page.url | absolute_url }}&text={{ page.title }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-telegram"></i>
            </a>
        </li>
        
        <!-- LinkedIn -->
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>

        <!-- Reddit -->
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://reddit.com/submit?url={{ page.url | absolute_url }}&title={{ page.title }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-reddit"></i>
            </a>
        </li>

        <!-- Email -->
        <li class="ml-1 mr-1">
            <a target="_blank" href="mailto:?subject={{ page.title }}&body={{ page.url | absolute_url }}">
                <i class="fas fa-envelope"></i>
            </a>
        </li>
    </ul>
</div>
